{
    "env": {
        "browser": true,
        "es2021": true,
        "node": true,
        "jest": true
    },
    "extends": [
        "plugin:react/recommended",
        "airbnb",
        "prettier"
    ],
    "overrides": [
    ],
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "plugins": ["react", "jsx-a11y", "import"],
    "rules": {
        "react/jsx-filename-extension": [
            "error",
            {
              "extensions": [".js", ".jsx"]
            }
          ],
          "import/prefer-default-export": "off",
          "react/prefer-stateless-function": ["error"],
          "react/react-in-jsx-scope": "off",
          "semi": 2,
          "indent": ["error", 2],
          "quotes": ["error", "single"]
    }
}
